body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.techBooks {
		.techBook {
			display: flex;

			background-color: #444;
			padding: 20px;
			border-radius: 5px;
			margin-bottom: 10px;

			img {
				height: 210px;
			}

			.info {
				margin-left: 10px;
				.title {
					color: rgb(244, 244, 121);
				}
				.description {
					font-size: 1.2rem;
					font-style: italic;
				}
			}
		}
	}
}